$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(opensans.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(robotocondensed.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
	font: 14px/1.5 "Open Sans", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	@media (prefers-color-scheme: dark) {
		--background: #181A1B;
		--drop-back: rgba(0, 0, 0, .7);
		--text-color: white;
		--divider: #2B2F31;
		--code-back: #1c1e1f;
		--code-text: #bababa;
		--code-border: #373c3e;
		--btn-color: #eff3f6;
		--btn-back: #24292e;
		--anchor: #7171ff;
	}
	@media (prefers-color-scheme: light) {
		--background: #fff;
		--drop-back: rgba(255, 255, 255, .9);
		--text-color: black;
		--divider: #ddd;
		--code-back: #EEE;
		--code-text: #333;
		--code-border: #e5e5e5;
		--btn-color: #24292e;
		--btn-back: #cccccc;
		--anchor: #00F;
	}
}

a {
	color: var(--anchor)
}

body {
	padding-bottom: 2em;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-weight: 400;
	background-color: var(--background);
	color: var(--text-color);

	& > svg {
		// Ugly, but it works. See: http://stackoverflow.com/a/24820654
		visibility: hidden;
		width: 0;
		height: 0;
		position: absolute;
	}

	&.drop:before {
		font: 700 40pt "Roboto Condensed", sans-serif;
		content: "DROP HERE";
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		outline: 2px dashed #888;
		outline-offset: -10px;
		background-color: var(--drop-back);
		backdrop-filter: blur(4px);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.container {
	@media screen and (min-width: $break-small) {
		width: 750px;
		.btn {
			width: 236px;
		}
	}
	@media screen and (min-width: $break-medium) {
		width: 970px;
		.btn {
			width: 310px;
		}
	}
	@media screen and (min-width: $break-large) {
		width: 1170px;
		.btn {
			width: 376px;
		}
	}
	@media screen and (max-width: $break-small - 1) {
		.btn {
			width: 100%;
			margin-bottom: 2px;
		}
	}
	padding: 0 15px 0 15px;
	margin: 0 auto;

	.main-icon {
		width: 256px;
		height: 256px;
		margin: 50px auto 0 auto;
	}


	h1, h2, h3 {
		overflow: hidden;
		text-align: center;
		margin: 1em 0 1em;
		text-transform: uppercase;
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
	}

	h1:before, h1:after, h2:before, h2:after {
		background-color: var(--divider);
		content: "";
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
	}

	h1:before, h2:before {
		right: 0.5em;
		margin-left: -50%;
	}

	h1:after, h2:after {
		left: 0.5em;
		margin-right: -50%;
	}

	h3 {
		margin: 1em 0 0.5em;
	}

	h1 {
		font-size: 40pt;
	}

	h2 {
		font-size: 25pt;
	}

	p, li, div {
		font-size: 16px;
	}

	p {
		padding: 0 0 10px;
	}

	code, pre {
		font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
		color: var(--code-text);
	}

	:not(pre) > code {
		font-size: 85%;
		background-color: var(--code-back);
		padding: .2em 0;
		border-radius: 4px;

		&:before,
		&:after {
			letter-spacing: -0.2em;
			content: "\00a0";
		}
	}

	pre {
		padding: 8px 15px;
		background: var(--code-back);
		border-radius: 5px;
		border: 1px solid var(--code-border);
		overflow-x: auto;
	}

	input.nzbparam {
		display: block;
		margin: 0 auto 1em;
		padding: 5px;
		border: 0;
		border-bottom: 1px solid gray;
		font-size: 1.5em;
		background-color: var(--code-back);
		color: var(--code-text);
		@media screen and (min-width: $break-small) {
			width: 80%;
		}
		@media screen and (max-width: $break-small - 1) {
			width: 100%;
		}

		&:focus {
			outline: none;
		}
	}

	.linklabel {
		margin: 3em 0 0 0;
	}

	a.reslnk {
		display: block;
		color: var(--code-text);
		text-decoration: none;
		margin: 1em 0;
		font-size: 1.5em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 4px 8px;
		background-color: var(--code-back);
		border-radius: 2px;
	}

	.buttonblock {
		text-align: center;
	}

	.btn {
		cursor: pointer;
		color: var(--btn-color);
		background-color: var(--btn-back);
		padding: 3px 1em;
		font-size: 1.5em;
		line-height: 2em;
		border: none;
		border-radius: 3px;
		margin-right: 5px;
	}

	.btn:last-of-type {
		margin-right: 0;
	}

	input.hidden {
		opacity: .01;
	}
}


.main-icon {
	width: 512px;
	height: 512px;
	display: block;
}

@media print, screen and (max-width: 480px) {
	.main-icon {
		width: 100%;
		height: auto;
	}
	.msg {
		font-size: 20pt;
	}
}
